/*
* Todo: add variables that store color values
*/

/*
* Tap navigation bar styling.
*/
.topnav {
		background-color: #002F38;
		overflow: hidden;
		margin: 0;
		padding: 0;
		position: sticky;
		top: 0;
}
.topnav a {
		float: left;
		color: #B88627;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
}
.topnav a:hover {
		background-color: #003943;
		color: #D04926;
}
.topnav a.active {
		background-color: #003943;
		color: #D04926;
}

/*
* Status bar styling.
*/
.statusBar {
	background-color: #002F38;
	color: #B88627;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	position: sticky;
}

/*
* Standard body styling.
*/
body {
		background-color: #00252B;
		color: #566E74;
		justify-content: center;
		text-align: center;
}
a {
	color: #B88627;
}
a:hover {
	color: #D04926;
}
h1 {
		color: #586e75;
		font-family=georgia, serif;
}
h2 {
		color: #586e75;
		font-family=georgia, serif;
}
.main {
		width: 50%;
		margin: auto;
		text-align: center;
}
