.topnav {
		background-color: #002F38;
		overflow: hidden;
		margin: 0;
		padding: 0;
		position: sticky;
		top: 0;
}
.topnav a {
		float: left;
		color: #B88627;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
}
.topnav a:hover {
		background-color: #003943;
		color: #D04926;
}
.topnav a.active {
		background-color: #003943;
		color: #D04926;
}
a {
	color: #B88627;
}
a:hover {
	color: #D04926;
}
body {
		background-color: #00252B;
		color: #566E74;
		justify-content: center;
		text-align: center;
}
ol {
	align: center;
	text-align: center;
	justify-content: center;
	margin: auto;
}
ol li{
	text-align: justify;
}
.list {
	position: relative;
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
h1 {
		color: #839496;
		font-family=georgia, serif;
}
h2 {
		color: #839496;
		font-family=georgia, serif;
}
/* p {
		width: 50%;
		color: #839496;
		background-color: #003039;
		font-family: georgia, serif;
		text-align: justify;
		border-width: 2px;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20px;
		border-style: solid;
		border-color: #003039;
		padding: 5%;
} */
button {
		color: white;
		background-color: green;
		border-radius: 10%;
		border: 2px solid green;
}
button:hover {
		color: black;
		background-color: #073642;
		border-radius: 10%;
		border: 2px solid green;
}
.main {
		width: 50%;
		margin: auto;
		text-align: center;
}

div.overlay {
		postion: fixed;
		display: none;
		width: 25%;
		height: 25%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba (0, 0, 0, 0.5);
		z-index: 2;
		cursor: pointer;
}
